@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
    ViewData["goalTitle"] = "Goal";
}
<div class="container body-content">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                ​I am an undergraduate student from Queensland University of Technology studying Information Technology, majoring in Computer Science, currently in third year. I am working hard to achieve the best results and be a very valuable employee for the further development of Technology. 
                I am hoping to obtain employment in network security where I can pursue my passion for technology, use my skills and academic knowledge as an Information Technology student and perform the best in your company. 
                Throughout my whole life, I have been interested in learning and seeing new things. Even seeing technology improve and used in today's modern society. Technology has really impressed me and in which I have grown a passion in. Which is why I studied IT in high school and now in university.
                I have almost spent all my schooling years in Australia. Studied grade 1 in Singapore 2005 and then moved to Australia later that year. In 2006, I continued my studies in Australia with the acceleration of moving from grade 2 to grade 3 for outsmarting the grade. 
                I graduated from Aquinas College in 2015 and moved on to studying Information Technology at Griffith University in 2016. Studying IT in high school was enjoyable, I grew a passion for it and wanted to continue learning it in University, 
                I was able to develop my employment skills from working at KFC and IGA. I developed customer service skills such as communicating with customers and resolving their issues. I worked at KFC on a casual basis during my final school year.
                I am currently employed at IGA on a casual basis in the grocery department making sure customers get what they want, have shelves filled and making sure we have stock for every product. 
                As a student embarking on the journey towards IT degree I am open to new experiences, that will allow me to develop my skills and my career.
                Please feel free to click on the links above to learn more about me and browse through my work. 
            </p>
            <h2><u>@ViewData["goalTitle"]</u></h2>
            <p>
                Throughout my career I hope to be a very effective and valuable employee of a company. My ideal future career is to place myself in a company, help myself, and the company, grow bigger and better with production efficiency.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Japansolo.jpg" height="484" width="316" />
            <br />
            <br />
            <button class="button button1">View my resume</button>
            <button class="button button1">View my Transcript</button>
        </div>
    </div>