@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
    ViewData["goalTitle"] = "Goal";
}
<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                I am currently undertaking Information Technology majoring in Computer Science at Queensland University of Technology. 
                I have completed two and a half years of my studies, but however, have spent one year studying IT at Griffith University.
                I am a result driven motivated individual who believes that team dynamics and time management is crucial for a successful 
                career. I have been applying this in my everyday life as I have achieved a GPA 6.1 studying full-time and having a 
                part-time job. I am capable to cooperate with all team members to achieve set goals and understand the importance of the 
                ability to analyse and solve difficult situations. My skills were developed through being part of a variety of team projects 
                and presentations, multiple UI & UX designs, OOP programming in different languages such as Python, Java, C# and C. As well 
                as web development (HTML, CSS, PHP, Javascript), database management (SQL), and software development. These skills learned 
                are great assets for the future development of technology. There are multiple fields that I really want to go in to, not 
                that I don't know what to pick but to be part of, experience, and enjoy. The fields are Cyber/Network Security, Software 
                development, web development, system administration. I plan to get into any of these fields where I can pursue my passion 
                for technology, hoping to continuously learn and acquire new skills. Hoping to be a very effective and valuable employee.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Japansolo.jpg" height="484" width="316" />
            <br />
        </div>
    </div>
</div>