@page
@model certawardsModel
@{
    ViewData["Title"] = "Certificates & Awards";
}

<div class="container body-content">
    <h2 align="center"><u>@ViewData["Title"]</u></h2>
    <br />
    <div class="row">
        <div class="certLeft">
            <p align="center" style="width: 270px"><strong><u>Queensland Certificate of Education</u></strong></p> 
            <p align="center" style="width: 270px">Click button below for full QCAA document including Tertiary Entrance Statement and Senior Statement</p>
            <img src="~/images/Cert_of_Education.png" height="384" width="270" />
        </div>

        <div class="certRight">
            <p align="center" style="width: 270px"><strong><u>Certificate II</u></strong></p>
            <p align="center" style="width: 270px">Engineering Pathways</p>
            <br />
            <br />
            <img src="~/images/CertII.png" height="384" width="270" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="certLeft">
            <p align="center" style="width: 270px"><strong><u>Aquinas College Citizenship Award</u></strong></p>
            <p align="center" style="width: 270px">For support for College Ethos, Respectful, Integrity, sincerity and willingness to be of service and involvement in many extra curriculum activites.</p>
            <img src="~/images/Citizenship_Award.png" height="384" width="270" />
        </div>

        <div class="certRight">
            <p align="center" style="width: 270px"><strong><u>​Aquinas College Diligence Award</u></strong></p>
            <p align="center" style="width: 270px">Consistent application to studies within Information Technology Systems. Exemplary attitude.</p>
            <br />
            <img src="~/images/Diligence_Award.png" height="384" width="270" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="certLeft">
            <p align="center" style="width: 270px"><strong><u>​Aquinas College Principals Award</u></strong></p>
            <p align="center" style="width: 270px">Citizenship excellence</p>
            <img src="~/images/Principal_Award.png" height="384" width="270" />
        </div>
    </div>
</div>
