@page
@model ContactModel
@{
    ViewData["Title"] = "Get in touch";
}
<img src="~/images/contact_page/contact_pic.jpg" width="102.7%" height="70%" style="margin-left: -1.3%" />
<div align="center" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-4">
            <a href="https://www.facebook.com/John.Santias" target="_blank"><img src="~/images/contact_page/pin.png" width="30%" height="30%" style="margin-left: -1.3%" /></a>
        </div>
        <div class="col-md-4">
            <a href="mailto:Jbssantias@hotmail.com"><img src="~/images/contact_page/email.png" width="30%" height="30%" style="margin-left: -1.3%" /></a>
        </div>
        <div class="col-md-4">
            <a href="tel:+61402609514"><img src="~/images/contact_page/phone.png" width="30%" height="30%" style="margin-left: -1.3%" /></a>
        </div>
    </div>
    <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div class="col-md-4">
            <h3><strong>ADDRESS</strong></h3>
            <h4><strong>QUT Gardens Point Campus</strong></h4>
            <a href="http://maps.google.com/?q=George St, Brisbane City, QLD, 4000" target="_blank"><p>2 George St, Brisbane City, QLD, 4000</p></a>
            <br />
            <h4><strong>QUT Kelvin Grove Campus</strong></h4>
            <a href="http://maps.google.com/?q=149 Victoria Park Rd, Kelvin Grove QLD 4059" target="_blank"><p>149 Victoria Park Rd, Kelvin Grove QLD 4059</p></a>
        </div>
        <div class="col-md-4">
            <h3><strong>EMAIL</strong></h3>
            <h4><strong>Personal email addresses:</strong></h4>
            <a href="mailto:Jbssantias@hotmail.com"><p>Jbssantias@hotmail.com</p></a>
            <a href="mailto:Jbssantias@gmail.com"><p>Jbssantias@gmail.com (alternate)</p></a>
            <br />
            <h4><strong>School email address:</strong></h4>
            <a href="john.santias@connect.qut.edu.au" alt="n9983244@qut.edu.au"><p>john.santias@connect.qut.edu.au</p></a>
        </div>
        <div class="col-md-4">
            <h3><strong>PHONE</strong></h3>
            <h4><strong>Phone Number:</strong></h4>
            <p>(AUS) <a href="tel:+61402609514">+61 402-609-514</a></p>
        </div>
    </div>
</div>
