@page
@model ContactModel
@{
    ViewData["Title"] = "GET IN TOUCH";
}
<div class="container">
    <h2 align="center">@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-sm-8">
            <p>Want to get in contact? Choose an option below and I will respond as soon as possible!</p>
            <address>
                <strong>Phone Number:</strong> <a href="tel:+61402609514">+61 402-609-514</a><br />
                <strong>Email:</strong> <a href="mailto:Jbssantias@hotmail.com">Jbssantias@hotmail.com</a><br />
                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/john-bernard-rivera-santias-b6aa20133/">https://www.linkedin.com/in/john-bernard-rivera-santias-b6aa20133/</a><br />
            </address>
        </div>
    </div>

    
</div>