@page
@model ePortfolio.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<div class="container body-content">
    <h2 align="center"><u>@ViewData["Title"]</u></h2>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/QUT.jpg" height="255" width="383" />
        </div>
        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left"><strong>Queensland University of Technology (2017 - Current)<br />Bachelor of Information Technology </strong></p>
            <p>Transferred to QUT to continue my studies there.</p>
            <span></span>
            <a href="~/docs/AcademicRecord/Academic Record.pdf" target="_blank">
                <button class="btn btn-primary" target="_blank">View Transcript</button>
            </a>
            <br />
            <br />
            <a href="/TimeSheet">
                <button class="btn btn-primary">View Timesheet</button>
            </a>
            <br />
            <br />
            <a href="/workExamples">
                <button class="btn btn-primary">View Work Examples</button>
            </a>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/Griffith.jpg" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>Griffith University (2016)<br />Bachelor of Information Technology </strong></p>
            <p>Having satisfying results from high school, I got accepted into Bachelor of Information Technology.</p>
            <span></span>
            <a href="~/docs/AcademicRecord/transcript.pdf" target="_blank">
                <button class="btn btn-primary">View Transcript</button>
            </a>
            <br />
            <br />
            <a href="/TimeSheet">
                <button class="btn btn-primary">View Timesheet</button>
            </a>
            <br />
            <br />
            <a href="/workExamples">
                <button class="btn btn-primary">View Work Examples</button>
            </a>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/AQ.jpg" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>Aquinas College (2015)<br />High School student </strong></p>
            <p>
                I was part of the Aquinas College community for 5 years. I loved Aquinas and enjoyed every moment.
                Studied Math B, Physics, Study of Religion, English, Information Technology and Technology studies.
                Also participated in their extra curriculum activities such as HPV (Human Powered Vehicle),
                Chess tournaments and St Vinnies Buddies day programs (Helping fostered children).
            </p>
            <span></span>
            <a href="~/docs/AQ-reference.pdf" target="_blank">
                <button class="btn btn-primary">Letter of Recommendation</button>
            </a>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/Tafe.jpg" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>Tafe Queensland (2011-2015)<br />Certificate II in Engineering Pathways </strong></p>
            <p>
                Studied a Certificate II in Engineering Pathways for one semester. The course was a school program.
                I gained knowledge on the use of tools, computing technology, machines and equipments.
            </p>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/GA.png" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>Guardian Angels Primary School (2007-2010)<br />Primary School student </strong></p>
            <p>Studied grade 4 to grade 7. Graduated primary school in 2010.</p>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/StBrigids.jpg" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>St Brigid's Primary School (2006)<br />Primary School student </strong></p>
            <p>Continued my studies in Australia. Got accelerated from grade 2 to grade 3 halfway throughout the year for outstanding results.</p>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 10%">
        <div class="col-sm-4" >
            <img src="~/images/StStephens.jpg" height="255" width="383" />
        </div>

        <div class="col-sm-8" style="padding-left: 7.5%">
            <p align="left" style="width: 360px"><strong>St Stephen's School Singapore (2006)<br />Primary School student </strong></p>
            <p>Studied grade 1 at St Stephen's school.</p>
        </div>
    </div>
</div>
