@page
@model FirstYearWorkModel
@{
    ViewData["Title"] = "First Year Work";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/Computer-systems-networks.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Computer Systems & Networks</strong></h3>
        <p>Grade: 6</p>
        <p>
            The study of how computer components work and communicate with each other along with the basic essentials of networking/communicating with other people.
        </p>
        <a href="/Courses/Computer_System_and_Networks" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/webTech.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Web Technologies</strong></h3>
        <p>Grade: 6</p>
        <p>
            Web development, learning HTML, CSS and PHP.
        </p>
        <a href="/Courses/Web_Technology" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/Technology-Fundamentals.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Information Technology Fundamentals</strong></h3>
        <p>Grade: 5</p>
        <p>
            Researching on the development of IT, the past and the future. Students research and plan their future.
        </p>
        <a href="/Courses/Technology_Fundamentals" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/Business-informatics.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Business Informatics</strong></h3>
        <p>Grade: 6</p>
        <p>
            Learning business concepts, how to develop business process models (BPM), learning the use of excel.
        </p>
        <a href="/Courses/Business_Informatics" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/Software-Dev.jpeg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Software Development</strong></h3>
        <p>Grade: 6</p>
        <p>
            Analyzing, project management, deploying.
        </p>
        <a href="/Courses/Software_Development" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/HCI.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Human Computer Interaction</strong></h3>
        <p>Grade: 6</p>
        <p>
            Research, analysing, and developing a solution for real world problems using a machine and GUI as a concept.
        </p>
        <a href="/Courses/Human_Computer_Interaction" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/ISF.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Information System Foundations</strong></h3>
        <p>Grade: 5</p>
        <p>
            Research on businesses and their processes using, BPMn, flow charts and more.
        </p>
        <a href="/Courses/Information_System_Foundation" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year1-Studies/DBMS.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Database Management</strong></h3>
        <p>Grade: 4</p>
        <p>
            Developing and managing databases using SQL. With the use of BPMn and table modelling using Primary Key, foreign key, entities etc.
        </p>
        <a href="/Courses/Database_Management" class="btn btn-primary" role="button">View</a>
    </div>
</div>