@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<br />
<div align="center">
    <img src="~/images/webcode.jpg" height="280" width="538" />
    <div align="left" style="width: 538px">
        <h4><strong>ePortfolio</strong></h4>
        <p>
            Currently in development. Making a personal website using an online code editor called cloud9,
            and using languages HTML, CSS, PHP learned at Griffith University. JavaScript will be learned and used for the website.
        </p>
        <a href="#" class="btn btn-primary disabled" role="button">In progress</a>
    </div>
    <br />
    <br />
    <img src="~/images/GooglePi.jpg" height="280" width="538" />
    <div align="left" style="width: 538px">
        <h4><strong>GooglePi</strong></h4>
        <p>
            I built my Google Assistant using a Raspberry Pi 3, an old webcam, and a speaker. An assistant,
            able to tell me about places, the weather, play quick game/quiz, have a conversation etc.
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
    <br />
    <br />
    <img src="~/images/lie_detector.jpg" height="280" width="538" />
    <div align="left" style="width: 538px">
        <h4><strong>Arduino Lie Detector</strong></h4>
        <p>
            Created a lie detector using an Arduino Nano, aluminum foil, and jumper wires.
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>

