@page
@model ePortfolio.Pages.ThirdYearWorkModel
@{
    ViewData["Title"] = "Third Year Work";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/algorithmComplexity.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Algorithms & Complexity</strong></h3>
        <p>Grade: 6 (78%)</p>
        <p>
            Each algorithm can have a different method which can have different efficiency and time complexity.
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/netsysadmin.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Networks & Systems Administration</strong></h3>
        <p>Grade: 5 (69%)</p>
        <p>
            Constructing real physical networks and manually configure the routing settings. Also includes linux administrative commands.
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/Itprojdev.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>IT Project Design & Development</strong></h3>
        <p>Grade: 7</p>
        <p>
            Introduction to capstone projects. Learnt the processes of agile scrum, and working as a team to develop a music school website for the client.
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/cryptography.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Cryptography</strong></h3>
        <p>Grade: *Course in progress*</p>
        <p>
            In progress
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/Network-Security.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Network Security</strong></h3>
        <p>Grade: *Course in progress*</p>
        <p>
            In progress
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/mobile-app-development-tools.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Mobile Application Development</strong></h3>
        <p>Grade: *Course in progress*</p>
        <p>
            In progress
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year3-Studies/HEAD-10-things-to-consider-when-choosing-project-management-software.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Capstone Project (Phase 1)</strong></h3>
        <p>Grade: *Course in progress*</p>
        <p>
            In progress
        </p>
        <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
</div>