@page
@model TimeSheetModel
@{
    ViewData["Title"] = "Time Sheets";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<span></span>
<div>
    <h3>
        <u>First Year: </u>
    </h3>
    <div align="center">
        <img src="~/images/Sem-1-2016.jpg" height="204" width="285" />
        <img src="~/images/sem-2-2016.jpg" height="204" width="285" />
        <br />
        <input type="submit" value="View" class="button2">
        <span></span>
    </div>
    
    <h3>
        <u>Second Year: </u>
    </h3>
    <img src="~/images/Sem-1-2017.jpg" height="204" width="285" />
    <img src="~/images/Sem-2-2017.png" height="204" width="285" />
    <br />
    <input type="submit" value="View" class="button2">
    <span></span>
    <h3>
        <u>Third Year: </u>
    </h3>
    <img src="#" height="204" width="285" />
    <img src="#" height="204" width="285" />
    <br />
    <input type="submit" value="View" class="button2">
</div>
