@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
    ViewData["goalTitle"] = "Goal";
}
<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-6">
            <p>
                I am currently undertaking Information Technology majoring in Computer Science at Queensland University of Technology. 
                I have completed one year of studying IT at Griffith University, and one and a half year at QUT. I am a result driven 
                motivated individual who believes that team dynamics and time management is crucial for a successful career. I have 
                been applying this in my everyday life as I have achieved a GPA 6.1 studying full-time whilst having a part-time job. 
                I am capable to cooperate with all team members to achieve set goals and understand the importance of the ability to 
                analyse and solve difficult situations. My skills were developed through being part of a variety of team projects and 
                presentations, multiple UI & UX designs, OOP programming in different languages (Python, Java, C#, C), web development 
                (HTML, CSS, PHP, Javascript), database management (SQL), and software development. These acquired skills are great 
                assets for the future development of technology. I plan to get into the web development field where I can pursue my 
                passion for technology and continously develop my knowledge, and acquire new skills to become a valuable and effective
                employee. I am also interested in Cyber/Network Security, Software Development, and system administration.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="~/images/20180629_164952.jpg" height="488" width="480" />
            <br />
        </div>
    </div>
</div>
