@page
@model ePortfolio.Pages.SecondYearWorkModel
@{
    ViewData["Title"] = "Second Year Work";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/design-thinking-principles.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Designing for IT</strong></h3>
        <p>Grade: 6 (82%)</p>
        <p>
            UI & UX Designs. Group research, prototyping, solutions to real world problems, presentations.
        </p>
        <a href="/Courses/Designing_for_IT" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/python.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Building IT Systems</strong></h3>
        <p>Grade: 6 (82%)</p>
        <p>
            Python programming to build IT systems including extracting HTML and CSS document elements to build 
            a website, and developing a database using Python. Use of Tkinter and Turtle to draw shapes and objects.
        </p>
        <a href="/Courses/Building_IT_Systems" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/discrete-struc.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Discrete Structures</strong></h3>
        <p>Grade: 6 (80%)</p>
        <p>
            Computer math. Looking further in depth of how programming works, vectors, defining code errors, 
            water flow in pipes, how regex functions and much more.
        </p>
        <a href="/Courses/Discrete_Structures" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/c-sharp.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Programming Principles</strong></h3>
        <p>Grade: 7 (89%)</p>
        <p>
            C# programming.
        </p>
        <a href="/Courses/Programming_Principles" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/MPDS.png" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Microprocessors and Digital Systems</strong></h3>
        <p>Grade: 7 (89%)</p>
        <p>
            C programming.
        </p>
        <a href="/Courses/Microprocessors_and_Digital_Systems" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/Netsec.jpeg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Information Security</strong></h3>
        <p>Grade: 6 (75%)</p>
        <p>
            Exploring how our information systems can be hacked with discussions on being attacked by hackers, principles, and types of being attacked by hackers.
        </p>
        <a href="/Courses/Information_Security" class="btn btn-primary" role="button">View</a>
    </div>
</div>
<br />
<div class="row" style="padding-left: 10%">
    <div class="col-sm-4">
        <img src="~/images/Year2-Studies/network.jpg" height="202" width="331" />
    </div>
    <div class="col-sm-4" style="margin-top: -20px; width: 50%;">
        <h3><strong>Networks</strong></h3>
        <p>Grade: 5 (68%)</p>
        <p>
            Concepts of networking, looking into how everyone connects to each other, IoT, process of communication, OSI, TCP/IP and more.
        </p>
        <a href="/Courses/Network" class="btn btn-primary" role="button">View</a>
    </div>
</div>