@page
@model ThirdYearTSModel
@{
    ViewData["Title"] = "Third Year";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<span></span>
<div style="margin-left: 10%; ">
    <h3>
        <u>Semester 1, 2018</u>
    </h3>
    <div>
        <img src="~/images/Sem-1-2018.png" height="450" width="659" />
        <br />
    </div>
</div>
