@page
@model TimeSheetModel
@{
    ViewData["Title"] = "Time Sheets";
}

<h2 align="center"><u>@ViewData["Title"]</u></h2>
<span></span>
<div style="margin-left: 10%; ">
    <h3>
        <u>First Year: </u>
    </h3>
    <img src="~/images/Sem-1-2016.jpg" height="204" width="285" />
    <img src="~/images/sem-2-2016.jpg" height="204" width="285" />
    <br />
    <a href="/FirstYearTS" class="btn btn-primary" role="button">View</a>
    <span></span>
    <h3>
        <u>Second Year: </u>
    </h3>
    <img src="~/images/Sem-1-2017.jpg" height="204" width="285" />
    <img src="~/images/Sem-2-2017.png" height="204" width="285" />
    <br />
    <a href="/SecondYearTS" class="btn btn-primary" role="button">View</a>
    <span></span>
    <h3>
        <u>Third Year: </u>
    </h3>
    <img src="~/images/Sem-1-2018.png" height="204" width="285" />
    <br />
    <a href="/ThirdYearTS" class="btn btn-primary" role="button">View</a>
</div>
