@page
@model workExamplesModel
@{
    ViewData["Title"] = "Work Examples";
    ViewData["Title1"] = "First Year courses";
    ViewData["Title2"] = "Second Year courses";
    ViewData["Title3"] = "Third Year courses";
}
<h2 align="center"><u>@ViewData["Title"]</u></h2>
<br />
<div class="row" style="padding-left: 7.5%">
    <div class="col-md-4">
        <h3><u>@ViewData["Title1"]</u></h3>
        <ul>
            <li>Computer System and Networks</li>
            <li>Technology Fundamentals</li>
            <li>Web Technology</li>
            <li>Business Informatics</li>
            <li>Information System Foundation</li>
            <li>Data Management</li>
            <li>Software Development</li>
            <li>Human Computer Interaction</li>
        </ul>
        <a href="/FirstYearWork" class="btn btn-primary" role="button">View</a>
    </div>
    <div class="col-md-4">
        <h3><u>@ViewData["Title2"]</u></h3>
        <ul>
            <li>Designing for IT</li>
            <li>Building IT Systems</li>
            <li>Discrete Mathematics</li>
            <li>Programming Principles</li>
            <li>Microprocessors and Digitals Systems</li>
            <li>Networks</li>
            <li>Information Security</li>
        </ul>
        <a href="/SecondYearWork" class="btn btn-primary" role="button">View</a>
    </div>
    <div class="col-md-4">
        <h3><u>@ViewData["Title3"]</u></h3>
        <ul>
            <li>Algorithms and Complexity</li>
            <li>Network and Systems Administration</li>
            <li>Project Design and Development</li>
            <li>Cryptography</li>
            <li>Network Security</li>
            <li>Mobile Application</li>
            <li>Capstone Project 1</li>
        </ul>
        <a href="/ThirdYearWork" class="btn btn-primary" role="button">View</a>
    </div>
</div>