@page
@model ePortfolio.Pages.Courses.Algorithms_ComplexityModel
@{
    ViewData["Title"] = "Algorithms & Complexity";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Having mastered the basic skills of writing computer programs, the next concern facing practicing programmers is the memory space and execution 
                time efficiency of their own code, and how to choose among a number of alternative algorithms and data structures that may be suitable for solving
                a given problem. In this unit students learn the scientific principles underlying theoretical prediction of program efficiency and apply techniques
                for empirical measurement of program performance. Students are also exposed to a range of well-established algorithms and data structures for solving
                specific kinds of computational problems, in order to take advantage of the wealth of previous work in this field. 
            </p>
            <p>
                This unit will teach you (1) a wide variety of established algorithms, and their associated data structures, 
                for solving various kinds of computational problems that you can use in your own programming projects, (2) how 
                the performance of algorithms can be predicted from a theoretical perspective, and (3) how the actual performance 
                of programs can be measured in practice.
            </p>
            <p>This unit teaches students a wide variety of established algorithms, and their associated data structures, for solving various kinds of computational
               problems that students can use in their own programming projects, how the performance of algorithms can be predicted from a theoretical perspective, and
               how the actual performance of programs can be measured in practice. 
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Explain the principles associated with evaluating an algorithm's complexity (theoretical efficiency) [Technology];</li>
                <li>Understand the different kinds of algorithms and data structures available to solve different kinds of computational problems [Design]</li>
                <li>Calculate the complexity of a given algorithm [Technology]</li>
                <li>Measure the actual efficiency of an algorithm when implemented as a computer program [Design, Build]</li>
                <li> Use theoretical predictions and empirical measurements to compare the performance of alternative algorithms available for a given computational task [Design, Build].</li>
            </ul>
            <p>
                The following below are the assignments done during the semester.
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/104assignment-1.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 1 - Problem Solving Task(25.5/30)</strong></p>
                    <p>
                        In this assignment, individual assessment, there were two parts. In part A, a template was given to us, and we had to draw a logo or something else within the box. The drawing was split into four boxes where the user can rotate, change positions in accordance with the arrangement number the user picks. In part B, which was released a week before the whole assignment was due, was to get the program to move one of the four blocks to move down if there wasn't a block underneath.
                    </p>
                    <span></span>
                    <a href="~/docs/BuildingITSystems/combinepdf.pdf" target="_blank">
                        <button class="btn btn-primary">View Specifications</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment1.pdf" target="_blank">
                        <button class="btn btn-primary">View Report</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment1.pdf" target="_blank">
                        <button class="btn btn-primary">View Source Code</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/104assignment-2.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 2 - Project (32.5/40)</strong></p>
                    <p>
                        Assignment 2, part A was about creating a Graphical User Interface, where the user can select what they want, and print an invoice. All the back-end processes the invoice, extracting the image, price, description of the product from three chosen websites. In part B, was to add a database, allowing the user to save their order by clicking the GUI button (front-end), and making the program process the database.
                    </p>
                    <span></span>
                    <a href="~/docs/BuildingITSystems/combinepdf (1).pdf" target="_blank">
                        <button class="btn btn-primary">View Specifications</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment2.pdf" target="_blank">
                        <button class="btn btn-primary">View Code</button>
                    </a>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unit=CAB301" target="_blank">https://www.qut.edu.au/study/unit?unit=CAB301</a>
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>


