@page
@model Building_IT_SystemsModel
@{
    ViewData["Title"] = "Building IT Systems";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Modern IT systems are built using a wide range of technologies such as programming and scripting languages, databases, web intefaces, etc. This introductory unit gave me hands-on experience with a variety of the computer languages used to build IT systems as well as a basic understanding of the way computer language code is written. This unit provided a firm foundation for further study on specific kinds of programming, such as networking, embedded systems, artificial intelligence, etc. Even if I did not intend to pursue computer programming as a vocation, it was important that I was exposed to programming languages and understand how IT systems are actually built, to give myself an appreciation of both the capabilities and practical limitations of the process. The concepts learned in this unit can be extended further in subsequent programming units in Computer Science.
            </p>
            <p>
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Identify and apply the principles and practices underlying some of the many computer languages used to build IT systems. </li>
                <li>Apply appropriate processes and creative thinking to develop solutions to small IT challenges. </li>
                <li>Communicate the results of your technical work in a form appropriate for an IT professional.</li>
            </ul>
            <p>
                The following below are the assignments done during the semester. NOTE: Python 2 was used throughout this course. Assignment files are in pdf file, as Python files are not supported here.
            </p>
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-4">
                    <img src="~/images/#" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 7.5%">
                    <p align="left"><strong>Assignment 1 (17/25)</strong></p>
                    <p>
                        In this assignment, individual assessment, there were two parts. In part A, a template was given to us, and we had to draw a logo or something else within the box. The drawing was split into four boxes where the user can rotate, change positions in accordance with the arrangement number the user picks. In part B, which was released a week before the whole assignment was due, was to get the program to move one of the four blocks to move down if there wasn't a block underneath.
                    </p>
                    <span></span>
                    <p>View Specifications:  <input type="submit" value="View" class="button2"></p>
                    <p>Assignment File:  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-4">
                    <img src="~/images/#" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 7.5%">
                    <p align="left"><strong>Assignment 2 (25/25)</strong></p>
                    <p>
                        Assignment 2, part A was about creating a Graphical User Interface, where the user can select what they want, and print an invoice. All the back-end processes the invoice, extracting the image, price, description of the product from three chosen websites. In part B, was to add a database, allowing the user to save their order by clicking the GUI button (front-end), and making the program process the database.
                    </p>
                    <span></span>
                    <p>View Specifications:  <input type="submit" value="View" class="button2"></p>
                    <p>Assignment File:  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                https://www.qut.edu.au/study/unit?unitCode=IFB104
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>
