@page
@model ePortfolio.Pages.Courses.Computer_System_and_NetworksModel
@{
    ViewData["Title"] = "Computer System and Networks";
}

<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                This course introduces the underlying structures and mechanisms of modern computer systems and networks. All students are required to have successfully
                completed induction for Laboratory Workplace Health and Safety prior to commencement of practical activities.
            </p>
            <p>
                This course introduces the underlying structures and mechanisms of modern computer systems and networks. All students enrolled in an ICT degree need to
                have an understanding of the basic architecture and operation of computer systems. This course provides an overview of the hardware, software and network
                technologies that define modern computer systems. The course aims to provide students with the basic knowledge of how the components that define a computer
                work together and by extension an appreciation of the capabilities and limitations of computer systems. This knowledge assists students in the application
                of computing technologies to solve real world problems. This course material builds a foundation for further study in the field of information technology,
                and is a suitable prerequisite for many ICT courses. This course was previously known as Introduction to Computer Systems and Networks.
            </p>
            <p>
                This is about creating a logic circuit. The task was to make a key and lock system on logic circuits using the program, 'Logisim'. As there will be many
                keys and locks, the key will have to match the lock. (E.g. Key A and Lock A matches, the lock unlocks. In this course I developed skills like:
            </p>
            <ul>
                <li>Able to identify and describe common computer hardware and software elements and explain how they interact with each other.</li>
                <li>Able to explain the workings of the processor, storage, common hardware components, and basic operating system services</li>
                <li>Able to explain the basic concepts of common networking models and the underlying networking hardware</li>
                <li>Able to explain the basic concepts relating to security mechanisms and security policy.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/images/3to8Decoder.png" height="323" width="273" />
            <p align="center">The 3 to 8 Decoder</p>
        </div>
    </div>
    <br />
    <div class="row">
        <a href="~/docs/ComputerSystems&Networks/s5055348_John_Santias_Report.pdf" target="_blank">
            <button class="btn btn-primary">View Report</button>
        </a>
        <br />
        <br />
        <p>
            More information about the course can be found on this link:
            https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=94333
        </p>
        <p>Grade for this course: 6</p>
    </div>
</div>