@page
@model Database_ManagementModel
@{
    ViewData["Title"] = "Database Management";
}

<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                This course introduces the fundamental concepts and skills in data management. It focuses on the most widely used relational data model and introduces basic concepts and skills underlying a broad range of database technologies. As a student of this course, you will learn the fundamental concepts in relational databases and be able to apply the knowledge in data management. You will learn skills to produce an Entity-Relationship diagram and to use it to represent conceptual design. You will learn normalization techniques and apply them in practical database design. You will also learn skills to implement databases and manipulate data through Structured Query Language (SQL), and will have the opportunity to apply such skills to produce relational databases and retrieve data from the databases.
            </p>
            <p>
                Information derived from data is important to the management, productivity and competitive advantage of an organisation. Data must be efficiently collected, organized, retrieved and managed to make it meaningful to the organisation. It is the role of the IT professional to develop, deploy, manage and integrate data and information systems to support the organisation. This course includes the organisation, modeling, transformation and presentation of data.
            </p>
            <p>
                The following document is creating and managing data of an airline. It focuses on managing the information of the entities within the whole airline such as the pilots, flight crew, passengers etc. The data was also implemented in SQL. With this assignment, I was able to learn how to create ER diagrams, create and manage data, and use SQL.
            </p>
            <p>
                Click the button below to view the report:
            </p>
            <button class="btn btn-primary">View Report</button>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89745
            </p>
            <p>Grade for this course: 4</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/DBreport.png" height="300" width="345" />
        </div>
    </div>
</div>