@page
@model Designing_for_ITModel
@{
    ViewData["Title"] = "Designing for IT";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                As emerging technologies provide increasing opportunities for innovation, design thinking is becoming a much sought after skill as it provides an effective approach to understand and develop user centered solutions. In this unit, we were introduced to design thinking as an approach to innovation and problem solving and how to apply the technique to develop IT solutions to real-world problems. Teamwork was introduced and assessed in this unit. The team members and I pitched our ideas and designs using oral and visual communication skills to gain user and peer feedback. This unit layed the foundational design, communication and teamwork skills that was integrated and practiced through a design project in this unit.
            </p>
            <p>
                Due to the often intangible and complex nature, design problems in IT are addressed by teams with members having different and complementary skill sets. This foundation unit provided us with knowledge of design thinking, related processes and methods and what it means to design within information technology rich contexts. This unit situated us students in challenging domains and asked us to solve problems leveraging our IT knowledge, applying fundamental design, teamwork and communication skills to accomplish the challenges.
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Apply design thinking principles, methods, tools and techniques to produce practical IT solutions to a real-world problem.</li>
                <li>Recognize, classify, and describe user needs.</li>
                <li>Apply verbal and visual communication skills to explain the design outputs and gain feedback from users and peers. </li>
                <li>Apply written communication skills and reflect upon personal performance and the performance of others.</li>
                <li>Employ teamwork skills and processes to participate collaboratively, and operate within a schedule to produce deliverables.</li>
            </ul>
            <p>
                The following below are my work examples, for each design challenge the log book was used to store our weekly progress of the challenge and was submitted on the same due date as the design challenge:
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/logbook.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Logbook (35.09/40)</strong></p>
                    <p>Accumulation of artefacts collected during the workshop activities completed throughout the semester. First submission in week 8. Final submission in week 13</p>
                    <span></span>
                    <p>View Specifications:  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/design_challenge_1.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Design Challenge 1 (22.66/30)</strong></p>
                    <p>Focal team project. The aim was to design different prototypes over the course of the semester and was assessed on the quality of my oration, teamwork, and design process. Due week 8.</p>
                    <span></span>
                    <p>View Specifications:  <input type="submit" value="View" class="button2"></p>
                    <p>Log Book 1:  <input type="submit" value="View" class="button2"></p>
                    <p>Personal App Prototype:  <input type="submit" value="View" class="button2"></p>
                    <p>Group App Prototype:  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/design_challenge_2.png.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Design Challenge 2 (24.50/30)</strong></p>
                    <p>Focal team project. The aim wasto design different prototypes over the course of the semester and was assessed on the quality of my oration, teamwork, and design process. Due week 13.</p>
                    <span></span>
                    <p>View Specifications:  <input type="submit" value="View" class="button2"></p>
                    <p>Log Book 2:  <input type="submit" value="View" class="button2"></p>
                    <p>GUI Prototype:  <input type="submit" value="View" class="button2"></p>
                    <p>Group Video  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                https://www.qut.edu.au/study/unit?unitCode=IFB103
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>