@page
@model Discrete_StructuresModel
@{
    ViewData["Title"] = "Discrete Structures";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                This unit introduced some of the theory underlying various computing technologies. It helped me understand why they were designed or operate in a particular way and what fundamental limitations they have. It also gave me an appreciation for the history of our chosen discipline, showing how it has evolved over time and how it is built upon sound mathematical principles. This unit was also an introduction to some of the concepts used in contemporary computer science research and was, therefore, a helpful starting point for myself considering to pursue a higher degree
            </p>
            <p>
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Understand the notations and formalisms used to model computational systems at a high level of abstraction.</li>
                <li>Recognize how different computing formalisms are used to help analyze and implement practical computer and networking technologies.</li>
                <li>Apply the rules associated with reasoning using computing formalisms to verify properties of abstract computational models.</li>
                <li>Assess the importance of basic principles introduced by leading computer scientists.</li>
            </ul>
            <p>
                There were no assignments for this course but there were quizzes throughout the semester worth 5% each. The following are the assessed quizzes and the mark I received for it. NOTE: The buttons show the answers to the questions which were given to students for final exam preparation.
            </p>
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (90/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 3   <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 2 (100/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 4   <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (95/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 5   <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (95/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 9   <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (95/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 10  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (75/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 11  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (80/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 12  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left: 10%">
                <div class="col-sm-2">
                    <p align="left"><strong>Quiz 1 (80/100)</strong></p>
                </div>
                <div class="col-sm-4" style="padding-left: 7.5%">
                    <p>Week 13  <input type="submit" value="View" class="button2"></p>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                https://www.qut.edu.au/study/unit?unitCode=IFB104
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>
