@page
@model Human_Computer_InteractionModel
@{
    ViewData["Title"] = "Human Computer Interaction";
    ViewData["Title2"] = "Teamwork";
    ViewData["Title3"] = "Design Challenge";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                HCI is a first year course which provides an introduction to the principles and practices of effective Human Computer Interaction.  We will explore the origins of HCI and the theories and frameworks that form the fundamentals of the discipline.  We'll then look at the practical tools and techniques that you can use to develop technology that embodies best practice in HCI - a positive user experience, and a high level of usability within your technology.  You will have the opportunity to apply HCI practices to a 'real world' problem and develop a design brief for a client.  You will also learn how to apply these practices to different problem situations and various technology contexts, including emerging technologies.
            </p>
            <p>
                A key component to the discipline of Information Technology is the understanding and the advocacy of the user in the development of IT applications and systems. IT graduates must develop a mind-set that recognizes the importance of users and organisational contexts and employ user-centred methodologies in the development, evaluation, and deployment of IT applications and systems. This requires graduates to develop knowledge of HCI, including user and task analysis, human factors, ergonomics, application domains, user interface development tools and GUI frameworks, accessibility standards, and cognitive psychology.
            </p>
        </div>
    </div>
    <h2><u>@ViewData["Title2"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                The link below shows the current assignment. This was a group work assignment. Each part was divided evenly into the three group members.
            </p>
            <p>Teamwork allows students to:</p>
            <ul>
                <li>Learn the content as master the material together.</li>
                <li>Learn the content at deeper levels.</li>
                <li>Learn how groups function productively.</li>
                <li>Learn why groups make better decisions than individuals.</li>
                <li>Can learn how to work with others.</li>
                <li>Take leadership.</li>
            </ul>
            <p>
                With the group assignment, I was able to learn all these things and work with others. As being in many group assignments, this project was very different because it was a university level work. It was more serious and more time was needed to be put into the assignment. The team worked well in the assignment. However, the only part that wasn't working well was the communicating with each team member. In the beginning, there was some misunderstanding and confusion on the chosen topic. In resolution, the group had a skype call with more talking and explaining about the project.
            </p>
            <p>
                The link below is the design brief group assignment.
            </p>
            <a href="~/docs/HumanComputerInteraction/Design_Brief_s5057204_5054396_s5055348.pdf" target="_blank">
                <button class="btn btn-primary">View Report</button>
            </a>
        </div>
    </div>
    <h2><u>@ViewData["Title3"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                In this assessment, the group had to undertake a design process for a real client who had a real design request for the group to address. The details for the design scenario was provided one week before the design challenge for the group to prepare. The design challenge had to be completed in the two hour workshop. Each workshop had a different scenario. The group was tasked with developing the designs needed for the development of a technology solution to the scenario. The detailed scenario that was given to the group had been given a detailed design scenario from the industry client that outlined background information, and information about their needs. Based on the scenario, the group had to generate different possible solutions.
            </p>
            <p>This design challenge was a test for each individual and the group to demonstrate their knowledge of and ability to apply the Human computer activity concepts learned throughout the semester. Even so applying what each individual has done in the design brief assessment. </p>
            <p>
                The scenario:
            </p>
            <p>
                The Red Zones are a promotional tool for Griffith University based at Nathan and Gold Coast campuses, showcasing our teaching and research expertise and innovation by featuring content from Health, Business, Sciences and the Arts. These dedicated state-of-the-art facilities engage with schools as well as community and corporate partners to raise awareness and enhance the reputation of the University.
                With the interactive technology available in the Red Zone such as the Augmented Reality sand, projection wave wall,  projection dome, digital microscope, bicycle powered generators, digital touch screen. Design an interactive technology that will be helpful and useful for Griffith Medicine students.
            </p>
            <p>
                The link below is the design challenge work completed in a group.
            </p>
            <a href="~/docs/HumanComputerInteraction/Design_Challenge_s5014604_s5050743_s5010527_s5055348.pdf" target="_blank">
                <button class="btn btn-primary">View Report</button>
            </a>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89744" target="_blank">https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89744</a>
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>