@page
@model Information_System_FoundationModel
@{
    ViewData["Title"] = "Information System Foundation";
}

<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Understanding the concepts of information, information systems, and value generated from these systems are not isolated concerns for modern organisations. For instance, an organisation could have the aim of improving its performance through the collection and use of better information. But in order to do this the organisation must develop efficient information systems which are likely to require the use of technology; identify the outcomes that technology must enable for the customer, as well as understand how technology and systems will deliver value. This course provides an introduction to each area – information, information systems, a focus on service and outcomes that technology must deliver  – as well as an understanding of the relationships between these three areas.
            </p>
            <p>
                This course introduces aspiring IT professionals to two topic areas that are critical to your working life. First, we will help you to unravel the ways in which information underpins business and organisational activity. Second, you will explore ways in which information systems are now critically important for managing activities and relationships with customers and suppliers.
            </p>
            <p>
                The following document is an analysis on The People's public hospital, which was built in 2060. The document includes Entity relationship diagrams, Business Process Model notations, and rich pictures and more. The analysis of the hospital allowed me to learn how to the hospital works, identify and analyse the problems, and find a solution to it.
            </p>
            <p>
                Click the button below to view the report:
            </p>
            <a href="~/docs/InformationSystemFoundation/Santias_John_s5055348_Assignment Report.pdf" target="_blank">
                <button class="btn btn-primary">View Report</button>
            </a>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89750
            </p>
            <p>Grade for this course: 5</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/RichPic.png" height="300" width="345" />
        </div>
    </div>
</div>