@page
@model ePortfolio.Pages.Courses.IT_Project_Design_DevModel
@{
    ViewData["Title"] = "IT Project Design and Development";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                This course gets students to work collaboratively together to design and develop effective solutions innovatively and rapidly which is on
                of the key activities of an IT professional. The unit extends upon design and build principles learnt earlier in the course by engaging
                students in an active and collaborative learning experience. It introduces students to new technical knowledge related to IT management and
                governance. From a professional practice perspective students learn skills such as negotiation, conflict resolution, requirements management,
                agile development and technologies specific to the solution choice, while further developing our skills in design and development. It also
                prepares you to be able to work collaboratively with others later in the capstone project.
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Design, implement, verify and deliver a sophisticated computing system which meets evolving stakeholder needs [Impact, Design, Build]. </li>
                <li>Work collegially and effectively as a member of a team, while taking responsibility for the successful completion of agreed components of the system [Build]. </li>
                <li>Reflect on how you and your team are working together so that you can plan and implement changes to your personal practices and team process to improve your effectiveness as a professional [Impact].</li>
                <li>Persuade, using appropriate forms of media to a professional standard, addressing an audience of peers, stakeholders and supervisors that your software product and process meets the project's design goals. [Design].</li>
            </ul>
            <p>
                The following below are assessments done during the semester.
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/104assignment-1.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 50%">
                    <p align="left"><strong>Project</strong></p>
                    <p>
                        In this assignment, individual assessment, there were two parts. In part A, a template was given to us, and we had to draw a logo or something else within the box. The drawing was split into four boxes where the user can rotate, change positions in accordance with the arrangement number the user picks. In part B, which was released a week before the whole assignment was due, was to get the program to move one of the four blocks to move down if there wasn't a block underneath.
                    </p>
                    <span></span>
                    <a href="~/docs/BuildingITSystems/combinepdf.pdf" target="_blank">
                        <button class="btn btn-primary">View Specifications</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment1.pdf" target="_blank">
                        <button class="btn btn-primary">View Code</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/104assignment-2.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Peer Review</strong></p>
                    <p>
                        Assignment 2, part A was about creating a Graphical User Interface, where the user can select what they want, and print an invoice. All the back-end processes the invoice, extracting the image, price, description of the product from three chosen websites. In part B, was to add a database, allowing the user to save their order by clicking the GUI button (front-end), and making the program process the database.
                    </p>
                    <span></span>
                    <a href="~/docs/BuildingITSystems/combinepdf (1).pdf" target="_blank">
                        <button class="btn btn-primary">View Specifications</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment2.pdf" target="_blank">
                        <button class="btn btn-primary">View Code</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/104assignment-2.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Portolio</strong></p>
                    <span></span>
                    <a href="~/docs/BuildingITSystems/combinepdf (1).pdf" target="_blank">
                        <button class="btn btn-primary">View Specifications</button>
                    </a>
                    <a href="~/docs/BuildingITSystems/assignment2.pdf" target="_blank">
                        <button class="btn btn-primary">View Code</button>
                    </a>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unitCode=CAB301" target="_blank">https://www.qut.edu.au/study/unit?unitCode=CAB301</a>
            </p>
            <p>Grade for this course: 7</p>
        </div>
    </div>
</div>
