@page
@model Microprocessors_and_Digital_SystemsModel
@{
    ViewData["Title"] = "Programming Principles";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Mastering fundamental programming concepts is important as it provides a basis for understanding both current and future technology, especially its capabilities and limitations. The fundamental principles of electronic data storage, computation and communication constitute critical aspects of smart technology which is pervasive throughout everyday life... This unit introduces these principles through programming and how computing devices interface with the external environment.
            </p>
            <p>
                The aim of this unit was to provide me with firm grounding in the following areas: i) Principles of low level programming, ii) Microcontroller and hardware interfaces, ii) Hardware communication and iv) Problem solving.
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Explain the binary nature of digital computers, and how bit patterns can be used to represent data types such as characters, numbers and instructions.</li>
                <li>Solve problems by applying basic principles of low level programming and understanding of common computing architecture</li>
                <li>Explain the role of the Compiler, Assembler, Library, Linker, Loader, Interpreter and Operating System, and of some of the interactions between these and the underlying computer hardware.</li>
                <li>Demonstrate proficiency in programming a microcontroller device and its interfaces.</li>
            </ul>
            <p>
                The following below are all the assessments completed in the course:
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/weeklyquiz.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Weekly Quiz (30/30)</strong></p>
                    <p>
                        There were ten quizzes worth 3% spread throughout 10 weeks of the semester. Quizzes were done online where we were given coding tasks to complete. Quizzes were marked using the Automatic Marking System. Click the button below to view all the quizzes.
                    </p>
                    <span></span>
                    <a href="https://github.com/AsianJohnBoi/202-Assessments" target="_blank">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/202assignment1.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 1 (23.5/30)</strong></p>
                    <p>
                        The first assignment, was to create a game through C on the terminal console. Using the arrows, the user must control the character to avoid enemies, collect points, keys, treasures and go through the doors to move on to the next level. The higher the level, the harder it gets! The button below will take you to my Github repository where you can view the code, and get the .exe file to play the game.
                    </p>
                    <span></span>
                    <a href="https://github.com/AsianJohnBoi/202-Assessments" target="_blank">
                        <button class="btn btn-primary">View Criteria & Source Code</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/202assignment2.png.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 2 (35.5/40)</strong></p>
                    <p>
                        The second assignment was to create a game similar to assignment 1. However, this time, game is made to be created on the teensy microcontroller. The microcontroller (or gameboy), was built by the engineering students for students to use. Click the button below to view the code for the game I created.
                    </p>
                    <span></span>
                    <a href="https://github.com/AsianJohnBoi/202-Assessments" target="_blank">
                        <button class="btn btn-primary">View Criteria & Source Code</button>
                    </a>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                https://www.qut.edu.au/study/unit?unitCode=CAB202
            </p>
            <p>Grade for this course: 7</p>
        </div>
    </div>
</div>