@page
@model ePortfolio.Pages.Courses.Network_System_AdministrationModel
@{
    ViewData["Title"] = "Network Systems Administration";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Computer networks are essential for the running of organisations today. To ensure the effective and efficient operation of computer networks, they need to be administered and managed by competent technical people. This unit teaches technical skills and knowledge for the administration and management of computer networks utilizing an environment which is currently used in industry, and also teaches the theory and practical aspects of network administration and management. Ensuring that the network is secure is a theme that is maintained throughout the unit.
            </p>
            <p>
                The aim of the unit is to provide working knowledge of the technical skills for network and computer systems administration and management.
                The unit uses a Unix-like encironment as the learning platform for attaining technical skills and for the development of problem solving skills necessary to be a successful networking professional. 
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Demonstrate an understanding of the role and responsibilities of a network administration and management professional and recognise typical ethical problems in network administration and management.</li>
                <li>Successfully connect a Unix-like system to a Local Area Network and provide specific services to that network and understand the principles of configuring a networked system securely and effectively managing the system.</li>
                <li>Determine the source of networking problems and investigate corrective measures to overcome them.</li>
                <li>Demonstrate the ability to work in a self-reliant and independent way including the ability to manage time and prioritise activities to complete technical tasks typical of work in network administration.</li>
            </ul>
            <p>
                Throughout the semester, there were practicals based on networking and administrating systems. We had practical exams based on the knowledge learnt in class and theory exams covered in lectures. 
            </p>
            <ul>
                <li>Practical exam in Week 5, Covering practicals learnt from week 1 to 3 (20%)</li>
                <li>Mid-Semester exam in Week 5, Covering lectures from week 1 to 4 (10%)</li>
                <li>Practical exam in week 13, Covering practicals from week 4 to 12 (40%)</li>
                <li>Final exam in week 14, Covering lectures from week 4 to 12 (30%)</li>
            </ul>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unit=CAB440" target="_blank">https://www.qut.edu.au/study/unit?unit=CAB440</a>
            </p>
            <p>Grade for this course: 5</p>
        </div>
    </div>
</div>
