@page
@model NetworkModel
@{
    ViewData["Title"] = "Networks";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Modern society is dependent upon computer networks. Many daily activities between people and organisations are conducted over a network. Employers expect to have a sound understanding of the concepts of computer networks and network services. This unit extended my theoretical and practical knowledge of computer architecture, systems and software to begin to design, implement and maintain network systems and applications and lays the foundation for later units in network practices and procedures.
            </p>
            <p>
                This unit aimed students to have practical knowledge of how network systems work and the theoretical underpinnings to be able to delve deeper into networking topics. This also prepares students to work in a modern computing environment consisting of many networked applications.
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Use networking terminology and concepts to communicate at a technical level with IT professionals and explain these concepts to non-professionals.  </li>
                <li>Explain and demonstrate how devices can communicate across networks using network naming, addressing and routing protocols.</li>
                <li>Design, build and validate a network consisting of multiple devices and systems demonstrating your ability to work at all levels of a layered network architecture. </li>
                <li>Determine and justify the use of appropriate computer networks and network-based technologies in various real world applications.</li>
            </ul>
            <p>
                The assessments in the course consisted of a mid-semester exam (20%), two practical exams (40%), and Final Exam (40%).

            </p>
            <p>
                More information about the course can be found on this link:
                https://www.qut.edu.au/study/unit?unitCode=CAB303
            </p>
            <p>Grade for this course: 5</p>
        </div>
    </div>
</div>