@page
@model Programming_PrinciplesModel
@{
    ViewData["Title"] = "Programming Principles";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Computer programs and scripts are the fundamental way in which we tell computers how to solve problems. All Information Technology students need an appreciation of the skills involved in programming and scripting, and all IT professionals need to understand the challenges and constraints that arise during software development.
            </p>
            <p>
                This introductory unit builds on the specific knowledge and skill you gained from Building IT Systems, as well as elements from the other foundational units on Design and Technology. It prepared ongoing development of my programming skills and an appreciation of the technical issues that must be considered when working with other programmers.
                The unit gives you the foundation for subsequent programming courses within the Computer Science major. Though this unit deals mainly with small-scale program development it provided an essential foundation for later units on large-scale system development or development of software for specialised application domains.
            </p>
            <p>
                This unit emphasises generic programming concepts and related problem-solving strategies. The skills and knowledge that learned in this unit is applicable to a wide variety of commonly-used, industry significant programming and scripting languages.

            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Read, understand and modify given program code [Technology]. </li>
                <li>Use an Integrated Development Environment to build simple software systems [Build];</li>
                <li>Design algorithmic solutions to a range of computational problems from various areas [Design]</li>
                <li>Work independently as well as with others to deliver effective and well-documented solutions to a number of small problems following specific design rules [Design, Build]</li>
            </ul>
            <p>
                The following below are all the assessments completed in the course:
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/weeklyquiz.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Weekly Quiz (29.4/30)</strong></p>
                    <p>
                        There were ten quizzes worth 3% spread throughout 10 weeks of the semester. Quizzes were done online where we were given coding tasks to complete. Quizzes were marked using the Automatic Marking System. Click the button below to view all the quizzes.
                    </p>
                    <span></span>
                    <a href="https://github.com/AsianJohnBoi/CAB201-Assessments" target="_blank">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/201-assignment.jpg" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment (40/40)</strong></p>
                    <p>
                        Created the assignment with C# programming on visual studio 2017. This game can have up to 8 players controlled by either human or AI. The button below will take you to my Github repository where you can view the code, and get the .exe file to play the game.
                    </p>
                    <span></span>
                    <a href="https://github.com/AsianJohnBoi/CAB201-Assignment-1" target="_blank">
                        <button class="btn btn-primary">View Criteria & Source Code:</button>
                    </a>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unitCode=CAB201" target="_blank">https://www.qut.edu.au/study/unit?unitCode=CAB201</a>
            </p>
            <p>Grade for this course: 7</p>
        </div>
    </div>
</div>
