@page
@model Software_DevelopmentModel
@{
    ViewData["Title"] = "Software Development";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                A system can be defined as a set of components that interact or depend upon each other, forming an integrated whole. Systems thinking
                can be used to tackle almost any problem imaginable, in order to identify requirements (systems analysis) and find solutions to meet
                them (systems design). This course will provide you, as a future business analyst and Information Technology (IT) / Computer Science
                (CS) professional, with software development and aquisition competencies that will underpin your entire career. You will learn how to
                plan the development of an information system, analyse and discover requirements, and select optimal design solutions. You will manage
                the system development processes by adopting an Agile methodology, which is currently a popular project management approach used in
                industry for software development.
            </p>
            <p>
                One of the roles of the IT professional is to design and build software systems and integrate them into an organisation. This course
                develops the skills to gather requirements, then develop/source, evaluate and integrate components into a single system, and finally
                validate the system. It also covers the fundamentals of software lifecycles, quality, software development processes, project management
                and the interplay between IT applications and organisational processes and relevant standards and tools.
            </p>
            <p>
                This course aimed to develop knowledge and skills necessary for effective software development, by:
            </p>
            <ul>
                <li>Detailing the main software development activities and outlining the skills required to perform them. </li>
                <li>Introducing elements of project management relevant to software development / acquisition including Agile developing methodologies.</li>
                <li>Explaining principles of systems level design.</li>
            </ul>
            <p>
                Click the button below to view report.
            </p>
            <a href="~/docs/SoftwareDevelopment/Santias_John_s5055348.pdf" target="_blank">
                <button class="btn btn-primary">View Report</button>
            </a>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89751
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>