@page
@model Technology_FundamentalsModel
@{
    ViewData["Title"] = "Information Technology Fundamentals";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                A broad-based introductory-level course covering the fundamental principles of Information technology (IT).
                Assumes (a) little or no prior knowledge of IT, and (b) functional proficiency in the reading and writing of English equivalent
                to pass in school year 12 English or IELTS Level H1. Topics include an overview of the principles of the discipline; its past,
                present and future, how it relates to other computing disciplines. There is also a strong focus on understanding how to be
                employable, in-demand member of the IT profession. This practical course instills a well-informed, success-oriented mindset
                as the foundation for future success in the fast-moving, globalised IT industry. Students learn how to become high performing
                technologists through a progressive understanding of the diverse contexts in which IT is used. Attention is given to the
                challenges in the diffusion of disruptive technology. Information Technology Fundamentals articulates into third level course
                Social and Professional Issues in IT.
            </p>
            <p>
                This course provides a foundational understanding of computing systems, taking into account the historical, social and technological
                context within which such systems have developed and are now deployed. The topics covered include the history of computing, the
                theoretical foundations of computing, the practical foundations of computer hardware and architecture, and an investigation into
                the theoretical and historical foundations of information technology and the social consequences of the deployment of this technology.
            </p>
            <p>
                The following document is about envisioning my future in the industry. Some research on employment, creation of more jobs and the
                future was an important part to seeing how my career may go. In this assignment I was able to find out more about the IT industry.
            </p>
            <p>
                Click the button below to view report.
            </p>
            <button class="btn btn-primary">View Report</button>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=93597
            </p>
            <p>Grade for this course: 5</p>
        </div>
    </div>
</div>