@page
@model Web_TechnologyModel
@{
    ViewData["Title"] = "Web Technologies";
}

<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                IT applications are increasingly web-based. Web technology has grown to include a variety of business, academic, organisational
                and social applications. Diverse multi-cultural and multi-lingual user communities now depend on Web technology. This course covers
                the design, implementation, and testing of web-based applications including related client and server-side software, interfaces,
                and digital media.
            </p>
            <p>
                This course introduces students to the concepts, tools and skills required to participate in the ubiquitous World Wide Web.
                The course adopts a particular emphasis on the design and implementation of web pages using up to date technologies (html5, css3, javascript).
            </p>
            <p>
                The following document is the design brief of the website. It includes, the client interview, project overview, and design
                sketches and many more planning. I was able to develop new skills such as:
            </p>
            <ul>
                <li>Being able to plan and sketch the client's needs of a website.</li>
                <li>Describe characteristics that enhance usability of a website.</li>
                <li>Explain the importance of interfacing web sites to underlying databases.</li>
            </ul>
            <p>
                Click the button below to view part A of my assignment, the design brief...
            </p>
            <button class="btn btn-primary">View Report</button>
            <br />
            <br />
            <p>The second part of the assignment was developing the website. Click below to view the final document.</p>
            <button class="btn btn-primary">View Report</button>
            <button class="btn btn-primary">View Code</button>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=94242
            </p>
            <p>Grade for this course: 6</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/webtechhomepage.png" height="300" width="345" />
        </div>
    </div>
    <br />
    <div class="row">
        
        
    </div>
</div>