body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-aboutdescription {
    float: left;
    width: 50%;
}

.container-aboutpic {
    float: right;
    width: 50%;
    padding-left: 50px;
}

.button1 {
    padding: 10px 20px;
    background-color: steelblue;
    color: ghostwhite;
    border-radius: 6px;
}

.button2 {
    padding: 5px 15px;
    background-color: steelblue;
    color: ghostwhite;
    border-radius: 6px;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
