@page
@model ePortfolio.Pages.Courses.Algorithms_ComplexityModel
@{
    ViewData["Title"] = "Algorithms & Complexity";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                Having mastered the basic skills of writing computer programs, the next concern facing practicing programmers is the memory space and execution 
                time efficiency of their own code, and how to choose among a number of alternative algorithms and data structures that may be suitable for solving
                a given problem. In this unit students learn the scientific principles underlying theoretical prediction of program efficiency and apply techniques
                for empirical measurement of program performance. Students are also exposed to a range of well-established algorithms and data structures for solving
                specific kinds of computational problems, in order to take advantage of the wealth of previous work in this field. 
            </p>
            <p>
                This unit will teach you (1) a wide variety of established algorithms, and their associated data structures, 
                for solving various kinds of computational problems that you can use in your own programming projects, (2) how 
                the performance of algorithms can be predicted from a theoretical perspective, and (3) how the actual performance 
                of programs can be measured in practice.
            </p>
            <p>This unit teaches students a wide variety of established algorithms, and their associated data structures, for solving various kinds of computational
               problems that students can use in their own programming projects, how the performance of algorithms can be predicted from a theoretical perspective, and
               how the actual performance of programs can be measured in practice. 
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Explain the principles associated with evaluating an algorithm's complexity (theoretical efficiency) [Technology];</li>
                <li>Understand the different kinds of algorithms and data structures available to solve different kinds of computational problems [Design]</li>
                <li>Calculate the complexity of a given algorithm [Technology]</li>
                <li>Measure the actual efficiency of an algorithm when implemented as a computer program [Design, Build]</li>
                <li> Use theoretical predictions and empirical measurements to compare the performance of alternative algorithms available for a given computational task [Design, Build].</li>
            </ul>
            <p>
                The following below are the assignments done during the semester.
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/Year3-Studies/assignment1.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 1 - Problem Solving Task(25.5/30)</strong></p>
                    <p>
                        Empirical analysis of a given algorithm. In this assignment students implement their given algorithm with their preferred programming language. 
                        Students must have a known complexity, and empirically measure its performance to confirm (or refute) the efficiency prediction.
                    </p>
                    <span></span>
                    <a href="~/docs/Algorithms&Complexity/CAB301-Ass1-Specification.pdf" target="_blank">
                        <button class="btn btn-primary">Specifications</button>
                    </a>
                    <a href="~/docs/Algorithms&Complexity/CAB301-Assignment-1.pdf" target="_blank">
                        <button class="btn btn-primary">Report</button>
                    </a>
                    <a href="https://github.com/AsianJohnBoi/CAB301---Assignment-1" target="_blank">
                        <button class="btn btn-primary">Source Code</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/Year3-Studies/assignment2.png" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Assignment 2 - Project (32.5/40)</strong></p>
                    <p>
                        This assignment focuses on the empirical comparison of two functionally-equivalent algorithms. In this assignment, a group of two
                        implements two different algorithms that both solve the same problem and measure and compare both predicted and actual performance. Each
                        student have separate responsibility for implementing one of the algoeithms and then both will contribute to the performance measurement
                        and analysis.
                    </p>
                    <span></span>
                    <a href="~/docs/Algorithms&Complexity/CAB301-Ass2-Specification.pdf" target="_blank">
                        <button class="btn btn-primary">Specifications</button>
                    </a>
                    <a href="~/docs/Algorithms&Complexity/CAB301-Assignment-2.pdf" target="_blank">
                        <button class="btn btn-primary">Report</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Source Code</button>
                    </a>
                </div>
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unit=CAB301" target="_blank">https://www.qut.edu.au/study/unit?unit=CAB301</a>
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>


