@page
@model ePortfolio.Pages.Courses.Business_InformaticsModel
@{
    ViewData["Title"] = "Business Informatics";
}

<div class="container">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Business Informatics is a general introduction to the field of Information Systems, Information Management and Knowledge Management. Each of these areas is a layer within current business practices. Information systems provide the basis for storing and retrieving information. Storing and retrieving information is central to all manner of activities, whether they be leisure or work related.
            </p>
            <p>
                This course introduces students to the systems and applications of business based on computer technology. There is an emphasis on principles, applications and ethical considerations of electronically mediated business.
            </p>
            <p>
                The course examines information systems and computer concepts relevant to the post-millennial structures of interactive technologies, decision-making, strategic thinking, and web applications. Skills in the use of software packages and web applications are also developed.
            </p>
            <p>
                Business informatics challenges students to answer questions relating to Entity Relationship Diagrams (ERD), Social Computing, Data Flow Diagrams (DFD) and explaining Porter's Competitive Force Model. Also using Microsoft Excel and Access. This helped me learned a set of skills such as:
            </p>
            <ul>
                <li>Knowing the basic use of MS office (MS Access and MS Excel)</li>
                <li>Able to describe the requirements, analysis, and basic information systems design for an organisation.</li>
                <li>Design, describe and explain a basic database system.</li>
                <li>Developed skills and tools for learning and knowledge management using Web 2.0 and social networking technology.</li>
                <li>Effective communications and Ability to work in teams.</li>
                <li>Innovative and Creative with Critical thinking and judgment.</li>
            </ul>
            <p>
                Click the button below to find out more.
            </p>
            <a href="~/docs/BusinessInformatics/Business_informatics_John_Santias.pdf" target="_blank">
                <button class="btn btn-primary">View Report</button>
            </a>
            <br />
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89939" target="_blank">https://courseprofile.secure.griffith.edu.au/student_section_loader.php?section=1&profileId=89939</a>
            </p>
            <p>Grade for this course: 6</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Year1-Studies/Business-informatics.png" height="300" width="345" />
        </div>
    </div>
</div>