@page
@model ePortfolio.Pages.Courses.IT_Project_Design_DevModel
@{
    ViewData["Title"] = "IT Project Design and Development";
}

<div class="container" width="60%">
    <h2><u>@ViewData["Title"]</u></h2>
    <div class="row">
        <div class="col-sm-10">
            <p>
                This course gets students to work collaboratively together to design and develop effective solutions innovatively and rapidly which is on
                of the key activities of an IT professional. The unit extends upon design and build principles learnt earlier in the course by engaging
                students in an active and collaborative learning experience. It introduces students to new technical knowledge related to IT management and
                governance. From a professional practice perspective students learn skills such as negotiation, conflict resolution, requirements management,
                agile development and technologies specific to the solution choice, while further developing our skills in design and development. It also
                prepares you to be able to work collaboratively with others later in the capstone project.
            </p>
            <p>
                In the completion of this unit, I am able to:
            </p>
            <ul>
                <li>Design, implement, verify and deliver a sophisticated computing system which meets evolving stakeholder needs [Impact, Design, Build]. </li>
                <li>Work collegially and effectively as a member of a team, while taking responsibility for the successful completion of agreed components of the system [Build]. </li>
                <li>Reflect on how you and your team are working together so that you can plan and implement changes to your personal practices and team process to improve your effectiveness as a professional [Impact].</li>
                <li>Persuade, using appropriate forms of media to a professional standard, addressing an audience of peers, stakeholders and supervisors that your software product and process meets the project's design goals. [Design].</li>
            </ul>
            <p>
                The following below are assessments done during the semester.
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Project ( /50)</strong></p>
                    <p>
                        You will follow a modern agile development method to deliver a sophisticated system. You will apply the skills you have learnt
                        in previous units to understand stakeholders' needs, and design and deliver a product to meet those needs. You will deliver the
                        system in incremental stages, where each stage builds on the previous stage, over the semester. Unit staff will assess your
                        application of IT governance practice and techniques for development at scale throughout the project development.
                    </p>
                    <span></span>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Specifications</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Source Code</button>
                    </a>
                    <p><strong>Team Trello boards: </strong></p>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Team home board</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Sprint 1 board</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Sprint 2 board</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Peer Review ( /20)</strong></p>
                    <p>
                        Individual, tutor and team review of design tasks and professional learning using adapted Industry Team Debrief.
                    </p>
                    <span></span>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Specifications</button>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" height="255" width="383" />
                </div>
                <div class="col-sm-8" style="padding-left: 10%">
                    <p align="left"><strong>Portfolio ( /30)</strong></p>
                    <p>
                        You will be assessed on your personal contribution to your team's effectiveness in the design and development activities of the project.
                    </p>
                    <span></span>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Specifications</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Portfolio 1</button>
                    </a>
                    <a href="#" target="_blank">
                        <button class="btn btn-primary">Portfolio 2</button>
                    </a>
                </div>
            </div>
            <br />
            </div>
            <br />
            <p>
                More information about the course can be found on this link:
                <a href="https://www.qut.edu.au/study/unit?unit=CAB301" target="_blank">https://www.qut.edu.au/study/unit?unit=CAB301</a>
            </p>
            <p>Grade for this course: 6</p>
        </div>
    </div>
</div>



